[Unit]
Description=<service description>
[Service]
WorkingDirectory=<path example: '/home/user/folder/'>
ExecStart=<path to binary example: '/home/user/folder/builded_project-binary'>
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=<Sets the process name to prefix log lines sent to the logging system>
User=<user which run service>
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
[Install]
WantedBy=multi-user.target
