@import "mocha.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrainsMono Nerd Font;
  font-size: 1.003em;
  font-weight: bold;
}

window#waybar {
  background-color: transparent;
  /* background-color: @base; */
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  color: @text;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @surface1;
}

#workspaces button:hover {
  color: @red;
}

#workspaces button.persistent {
  color: @yellow;
}

#workspaces button.active {
  color: @lavender;
}


#workspaces button.deafult {
  color: @surface1;
}

#workspaces button.empty {
  color: @overlay0;
}

#workspaces button.urgent {
  background-color: @red;
}

#mode {
  background-color: @pink;
  box-shadow: inset 0 -3px @text;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-power {
  color: @text;
  border-radius: 10px;
  padding: 0px 8px;
}

#window,
#workspaces {
  background-color: @base;
  border-radius: 10px;
  padding: 0px 8px;
}

#pulseaudio {
  background-color: @base;
  color: @blue
}

#clock {
  background-color: @base;
  color: @mauve;
}

#battery {
  background-color: @base;
  color: @blue;
}

#battery.charging,
#battery.plugged {
  color: @teal;
  background-color: @base;
}


label:focus {
  background-color: @base;
}

#backlight {
  background-color: @base;
  color: @text;
}

#network {
  background-color: @base;
  color: @teal;
}

#network.disconnected {
  background-color: @base;
  color: @red;
}

#custom-power {
  background-color: @base;
  /* padding: 0px 12px; */
}