@import "mocha.css";
@define-color hypractive #cba6f7;
@define-color base #1e1e2e;
@define-color buttonEmpty #505050;
@define-color buttonUsed #b5b5b5;
* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrainsMono Nerd Font;
  font-size: 1.003em;
  font-weight: bold;
}

window#waybar {
  background-color: transparent;
  /* background-color: @base; */
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  color: @text;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @surface1;
}

#workspaces button.active {
  font-size: 1.25em;
  font-weight: bold;
  color: @hypractive
}

#workspaces button.empty {
  color: @buttonEmpty;
}

#workspaces button:not(.empty):not(.active) {
  color: @buttonUsed;
}

#workspaces button.urgent {
  background-color: @red;
}

#mode {
  background-color: @pink;
  box-shadow: inset 0 -3px @text;
}

#window,
#workspaces,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#pulseaudio-slider,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-power {
  background-color: @base;
  color: @text;
  border-radius: 10px;
  padding: 0px 8px;
}

#pulseaudio {
  color: @blue
}

#clock {
  color: @mauve;
}

#battery {
  color: @blue;
}

#battery.charging,
#battery.plugged {
  color: @teal;
}

label:focus {
  background-color: @base;
}

#backlight {
  color: @text;
}

#network {
  color: @teal;
}

#network.disconnected {
  color: @red;
}

#custom-power {
  /* padding: 0px 12px; */
}

#pulseaudio-slider {
  /* margin: 0px 8px */
}

#pulseaudio-slider slider {
  min-height: 10px;
  min-width: 10px;
  opacity: 0;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 100px;
  border-radius: 5px;
}

#pulseaudio-slider highlight {
  min-width: 0px;
  border-radius: 5px;
  background: @hypractive;
}
